.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* product ard */

.productCard {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
}
.prdImg {
  aspect-ratio: 16/12;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}
.prdBody {
  padding: 10px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.prdBody .prdTitle {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.prdBody .prdDes {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 10px 0;
}
.prdLink {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: auto;
}

.prdLayout {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}

.prdDetailRow {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: 30px auto;
}
.prdDetailRow_imgCol {
  grid-column: 1 / 3;
}
.prdDetailRow_imgCol img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.prdDetailRow_DesCol {
  grid-column: 3 / 6;
}
.prdDetailRow_DesCol h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 15px;
}
.prdDetailRow_DesCol p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.prdDetailRow_DesCol h3 {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.prdDetailRow_DesCol button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.backLink {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.homeContainer {
  max-width: 1200px;
  margin: auto;
}
.checkBoxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.labelGroup {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #1c1c1c;
  cursor: pointer;
  line-height: 1;
}

.containerTitle {
  font-size: 30px;
  font-weight: 700;
  color: #1c1c1c;
  margin-top: 15px;
}

.footerInfo {
  margin-top: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
.footTotal {
  margin-left: auto;
  font-size: 16px;
  color: #1c1c1c;
}
.footItem {
  font-size: 16px;
  color: #1c1c1c;
}
.footTotal span,
.footItem span {
  font-weight: 700;
  color: #000;
}


.noFound {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
}